@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e7e9ee;
  overflow-x: hidden;
}
.ant-select-selector {
  border: none !important;
  background: #f94034 !important;
  /* border-radius: 6px !important; */
}
.ant-select-selection-item {
  color: white !important;
}
.ant-select-arrow {
  color: white !important;
}
.ant-picker-separator {
  color: white !important;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcfcfc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f94034;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 65, 53, 0.89);
}
